<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{titlePage}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arya:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

</head>
<body>
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/"><img id="logo"  src="img/logo.jpg" alt=""></a>
    {{!-- <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button> --}}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/trucks">Trucks</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/contact"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <p class="shake"><i class="fa fa-phone" aria-hidden="true"></i> (+48) 510 706 712</p>
            </li>
            </ul>
        </div>
    </div>
</nav>


{{!-- <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script> --}}