{{>header}} 
 <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Trucks</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="img/portfolio/fleet1.jpg">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/fleet1.jpg" alt="">
            </a>
              <h2 class="text-secondary text-uppercase mb-0">RENAULT MASTER</h2>
              <hr class="star-dark">
              <p class="mb-2">Wymiary: 4,85 x 2,2 x 2,48 m</p>
              <p class="mb-2">Pojemność: 26m3</p>
              <p class="mb-2">Ładowność: 1,4t</p>
              <p class="mb-2">Ilość euro palet: 10.</p>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="img/portfolio/fleet2.jpg">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/fleet2.jpg" alt="">
            </a>
              <h2 class="text-secondary text-uppercase mb-0">RENAULT MASTER</h2>
              <hr class="star-dark">
              <p class="mb-2">Wymiary: 4,85 x 2,2 x 2,48 m</p>
              <p class="mb-2">Pojemność: 26m3</p>
              <p class="mb-2">Ładowność: 1,4t</p>
              <p class="mb-2">Ilość euro palet: 10.</p>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="img/portfolio/fleet3.jpg">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/fleet3.jpg" alt="">
            </a>
              <h2 class="text-secondary text-uppercase mb-0">FIAT DUCATO</h2>
              <hr class="star-dark">
              <p class="mb-2">Wymiary: 4,9 x 2,2 x 2,48 m</p>
              <p class="mb-2">Pojemność: 26m3</p>
              <p class="mb-2">Ładowność: 1,4t</p>
              <p class="mb-2">Ilość euro palet: 10.</p>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="img/portfolio/newfleet.jpg">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/newfleet.jpg" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="img/portfolio/newfleet.jpg">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/newfleet.jpg" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="img/portfolio/newfleet.jpg">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/newfleet.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

  {{>footer}}



